/*
---
name: Input Addons
category: Components/Forms
tag: component
---

These components help you to build more complex input elements. Now, you can create input fields with buttons and dropdowns.

```html
<div>
  <label for="search">Search</label>
  <div class="input-group">
    <input id="search" placeholder="Describe your issue..." />
    <button class="button">Search</button>
  </div>
</div>

<div class="margin-t-big">
  <label for="search">Search</label>
  <div class="input-group">
    <input id="search" placeholder="Describe your issue..." />
    <div class="dropdown dropdown-right">
      <button class="button button-dropdown" aria-haspopup="true" aria-expanded="false">Open Dropdown</button>
      <ul class="dropdown__list remove-style elevation-1 slide-in" aria-hidden="true" aria-label="submenu"
        aria-label="Select the element" role="menu">
        <li><a href="#" role="menuitem">First element</a></li>
        <li><a href="#" role="menuitem">Second element</a></li>
        <li class="dropdown__list__separator" aria-hidden="true"></li>
        <li><a href="#" role="menuitem">Last element</a></li>
      </ul>
    </div>
  </div>
</div>
```
*/

.input-group {
  display: flex;

  > input,
  [class*="input"] {
    flex: 1;
    margin-top: 0;
  }

  > *:last-child,
  .dropdown .button {
    margin-left: -1px;
  }

  > *:not(:last-child) {
    border-right: 0;
  }

  /*
   * For the height and remove the cut corner for buttons
   */
  button,
  .button {
    height: su(2);
    background: gradient('light');
    box-shadow: none;

    &.button-primary {
      background: gradient('brand');
    }

    &.button-accent,
    &.button-action {
      background: gradient('accent');
    }

    &:hover {
      background: gradient('action');
    }
  }
}


