# Modules
node_modules

# Modules
**/node_modules

# Compilated docs
docs/dist

# Dist files
dist

# Ignore compilated README
packages/hex-docs/templates/readme.ejs

# Deploy key
deploy.key

# DS_Store
.DS_Store

# Logs
*.log

# Lerna
*.lerna_backup
