<section class="gradient-135-brand type-color-reverse-anchor-reset">
  <div class="container">
    <header class="OSHeader padding-v-big">
      <div class="row collapse-b-tablet align-center">
        <div class="col-4">
          <div class="OSHeader__Logo">
            <a href="/">
              <img src="<%- root %>assets/images/bitnami-pattern-lib.svg" alt="Logo white">
              <span class="type-small">
                A Bitnami project
              </span>
            </a>
          </div>
        </div>
        <div class="col-8">
          <nav class="text-r">
            <a href="/category/Foundations" class="margin-h-normal">Foundations</a>
            <a href="/category/Components" class="margin-h-normal">Components</a>
            <a href="https://github.com/bitnami/ui" class="margin-l-normal" rel="noopener" target="_blank">GitHub</a>
          </nav>
        </div>
      </div>
    </header>
  </div>
</section>
