/*
---
name: GoDaddy
category: Components/Variables
tag: variables
---
Base colors for [GoDaddy](https://godaddy.com).

```scss
$cloud-goddady-colors: (
  'brand': #00a63f,
  'primary': #57c82f,
  'secondary': #333,
  'accent': #f2812e,
  'action': #f2812e
);
```
*/
$cloud-godaddy-colors: (
  'brand': #00a63f,
  'primary': #57c82f,
  'secondary': #333,
  'accent': #f2812e,
  'action': #f2812e
);
