/*
---
name: Names
category: Foundations/Variables
tag: variables
---
Aliases for colors and scales.

```scss
$scale-names: (
  'reset': -3,
  'tiny': -2,
  'small': -1,
  'normal': 0,
  'big': 1,
  'bigger': 2,
  'enormous': 3,
  'giant': 4,
  'huge': 5
);

$color-names: (
  'bitnami': 'brand',
  'light-blue': 'primary',
  'dark-blue': 'secondary',
  'accent': 'accent',
  'accent-light': 'accent-light',
  'iron': 'light',
  'white': 'white',
  'dark': 'text',
  'text': 'text',
  'action': 'action',
  'action-light': 'action-light',
  'gray': 'gray',
  'gray-light': 'gray-light',
  'white': 'base',
  'highlight': 'highlight'
);

```
*/
$scale-names: (
  'reset': -3,
  'tiny': -2,
  'small': -1,
  'normal': 0,
  'big': 1,
  'bigger': 2,
  'enormous': 3,
  'giant': 4,
  'huge': 5,
  6: 6,
  7: 7
);

$color-names: (
  'bitnami': 'brand',
  'dark-blue': 'primary',
  'light-blue': 'secondary',
  'accent': 'accent',
  'accent-light': 'accent-light',
  'iron': 'light',
  'white': 'white',
  'dark': 'text',
  'text': 'text',
  'action': 'action',
  'action-light': 'action-light',
  'gray': 'gray',
  'gray-light': 'gray-light',
  'base': 'base',
  'highlight': 'highlight',
  'red': 'danger'
);
