/*
---
name: Anchors
category: Foundations/Helpers
tag: helpers
---
Modify the color and the decoration of the anchor. Available classes:
* `.light`
* `.secondary`
* `.no-decoration`

```html
<div class="preview-inverse">
  <p>This is a <a class="light">link</a></p>
</div>
```
```html
<div class="preview-light-blue">
  <p>This is a <a class="secondary">link</a></p>
</div>
```
```html
<div>
  <p>This is a <a class="no-decoration">link</a></p>
</div>
```
*/
// scss-lint:disable QualifyingElement
a.light:not(.button) {
// scss-lint:enable QualifyingElement
  color: color-level('accent', 200);

  &:hover,
  &:active,
  &:visited {
    color: color-level('accent', 100);
  }
}

// scss-lint:disable QualifyingElement
a.secondary:not(.button) {
// scss-lint:enable QualifyingElement
  color: color('brand');

  &:hover,
  &:active,
  &:visited {
    color: color-level('brand', 600);
  }
}

a.no-decoration {
  text-decoration: none;
}
