/*
---
name: Terminal
category: Components/Code
tag: component
---
This component allows you to include a terminal snippet in the site. Remember to use the
`Command` class to highlight the command and add an extra space.

```html
<section class="Terminal elevation-1">
  <div class="Terminal__Top type-small">
    <div class="Terminal__Top__Buttons">
      <span class="Terminal__Top__Button Terminal__Top__Button--red"></span>
      <span class="Terminal__Top__Button Terminal__Top__Button--yellow"></span>
      <span class="Terminal__Top__Button Terminal__Top__Button--green"></span>
    </div>
    <div class="Terminal__Top__Title">bash</div>
  </div>
  <div class="Terminal__Tab">
    <pre class="Terminal__Code">
      <code class="Terminal__Code__Command">kubeapps up</code>
      <code>Creating non-existent deployments kube-system.default-http-backend
Creating non-existent deployments kube-system.nginx-ingress-controller
Creating non-existent deployments kubeapps.kubeapps-dashboard-api
Creating non-existent deployments kubeapps.kubeapps-dashboard-ui
Creating non-existent deployments kubeless.kubeless-controller
Creating non-existent deployments kubeapps.kubeless-ui
Creating non-existent deployments kubeapps.mongodb
Creating non-existent deployments kube-system.sealed-secrets-controller
Creating non-existent deployments kube-system.tiller-deploy
[ ... ]</code>
      <code class="Terminal__Code__Command">echo "Hi"</code>
      <code>Hi</code>
    </pre>
  </div>
</section>
```
*/

.Terminal {
  background-color: color-level('dark', 900);
  border-radius: 5px;
  padding: padding('normal') padding('big');

  &__Top {
    height: 35px;
    display: flex;
    align-items: center;

    &__Title {
      flex: 1;
      text-align: center;
      color: color-level('iron', 800);
    }

    &__Button {
      border-radius: 15px;
      display: inline-block;
      height: .75em;
      margin-right: margin('small');
      width: .75em;

      &--red {
        background: color-level('action', 600);
      }

      &--yellow {
        background: color-level('action', 100);
      }

      &--green {
        background: color('accent');
      }
    }
  }

  &__Tab {
    padding-bottom: padding('normal');
  }

  &__Code {
    margin: 0;
    padding: 0;
    white-space: pre-line;

    code {
      color: color-level('iron', 800);

      &.Terminal__Code__Command {
        color: color('iron');
        display: inline-block;
        margin-top: margin('big');

        &:first-child {
          margin-top: 0;
        }

        &:before {
          content: '$';
          margin-right: .5em;
        }
      }
    }
  }
}
