/*
---
name: Clouds
category: Components/Variables
tag: variables
---
This variable references all available clouds

```scss
$clouds: (
  '1and1': $cloud-1and1,
  'aws': $cloud-aws,
  'azure': $cloud-azure,
  'centurylink': $cloud-centurylink,
  'godaddy': $cloud-godaddy,
  'google': $cloud-google,
  'huawei': $cloud-huawei,
  'oracle': $cloud-oracle,
  'otc': $cloud-otc
);
```
*/
$clouds: (
  '1and1': $cloud-1and1-colors,
  'aws': $cloud-aws-colors,
  'azure': $cloud-azure-colors,
  'centurylink': $cloud-centurylink-colors,
  'godaddy': $cloud-godaddy-colors,
  'google': $cloud-google-colors,
  'huawei': $cloud-huawei-colors,
  'oracle': $cloud-oracle-colors,
  'otc': $cloud-otc-colors
);
