/*
---
name: Half Section
category: Components/Display
tag: component
---
Display related information that belongs to different topics. Each half should have its own
background (image, color, gradient) to highlight this different.

* **Good examples**: Information about two products of the same family. Two features of a product.
* **Bad examples**: A title and paragraph in a section and a video / diagram on the other one.

If you want to cover the **bad examples**, you can use a
[flat background](/category/Foundations/Helpers/#Backgrounds) or
a [gradient](/category/Foundations/Helpers/#Linear%20Gradients)
with a [two columns grid](/category/Foundations/Grid/#Basic).

##### Architecture

* `.halfSection`: Main container of the component
* `.halfSection__left` and `.halfSection__right`: Containers that determines the position of the
content
* `.halfSection__container`: Container with the 50% of size

```html
<section class="halfSection">
  <div class="halfSection__left bg-dark">
    <div class="halfSection__container">
      <div class="container padding-big">
        <h2>Any Application, Any Platform, Secure and Ready to Run</h2>
        <p>At the core of Bitnami is an application automation platform that builds software stacks
        from applications and their dependencies, packaging them for one-click deployment to all
        major platforms, local or cloud. Bitnami then maintains those stacks by continuously
        monitoring for updates and security vulnerabilities and providing new versions as necessary
        and available.</p>
      </div>
    </div>
  </div>
  <div class="halfSection__right gradient-brand">
    <div class="halfSection__container">
      <div class="container padding-big">
        <h2>Any Application, Any Platform, Secure and Ready to Run</h2>
        <p>The Result: An application deployment platform that developers love and ops can trust</p>
      </div>
    </div>
  </div>
</section>
```
*/

.halfSection {
  display: flex;

  &__left {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  &__right {
    width: 50%;
  }

  &__container {
    max-width: $grid-width / 2;
  }

  @include mappy-query('b-tablet') {
    display: block;

    &__left {
      display: block;
      width: 100%;
    }

    &__right {
      width: 100%;
    }

    &__container {
      max-width: $grid-width;
    }
  }
}
