/*
---
name: Reasons
category: Components/Display
tag: component
---

```html
<div class="container container-small">
  <h1 class="text-c">The best of both worlds</h1>
  <h5 class="text-c subtitle">The ease of Bitnami backed by the compute power of Google</h5>
  <div class="row collapse-2-on-tablet">
    <div class="col-6">
      <h3>Huge selection</h3>
      <p>
        Bitnami packages the most popular open source apps and development environments — 150+ and growing.
      </p>
    </div>
    <div class="col-6">
      <h3>Up to date</h3>
      <p>
        Bitnami monitors all of the apps and components it packages and releases updates once they become available.
      </p>
    </div>
  </div>
  <div class="row collapse-2-on-tablet">
    <div class="col-6">
      <h3>Fully configured</h3>
      <p>
        Bitnami cloud images are fully integrated and configured and ready-to-run. After clicking the "launch" button, you'll be up and running in minutes.
      </p>
    </div>
    <div class="col-6">
      <h3>Free of charge</h3>
      <p>
        Bitnami cloud images are made available at no additional cost. In other words, you only pay for the Google Cloud Platform resources that you use to run the apps.
      </p>
    </div>
  </div>
</div>
```
*/
// No CSS code for this ;)
