/*
---
name: Hero
category: Components/Navigation
tag: component
---

```html
<section class="hero type-color-reverse">
  <div class="container margin-v-huge">
    <section class="hero__content">
      <h1 class="hero__title">Bitnami Application Catalog</h1>
      <p class="hero__subtitle">Ready-to-run Applications and Development Environments</p>
    </section>
  </div>
</section>
<section class="subhero">
  <div class="container">
    <div class="subhero__content">
      <p>
        Bitnami Stacksmith simplifies the migration of traditional applications by
        automating the manual tasks required to build, deploy and maintain software stacks
        for all major container and cloud platforms.
      </p>
      <a href="#" class="button button-action">Watch Now</a>
    </div>
  </div>
</section>
```
*/
.hero {
  position: relative;
  overflow: hidden;

  &__content {
    margin-left: margin('bigger');
    padding-bottom: margin('big');
    max-width: 600px;
  }

  &__title,
  &__subtitle {
    margin: 0;
  }

  &:before,
  &:after {
    content: '';
    height: 200%;
    position: absolute;
    top: -105%;
    width: 300%;
    z-index: z-index('bottom');
  }

  &:before {
    background: color('action');
    right: -150%;
    transform: rotateZ(10deg);

  }

  &:after {
    background: gradient('brand', -45deg, 20%, 42%);
    left: -150%;
    transform: rotateZ(-8deg);
  }

  // Opacity effect for mobile
  @include mappy-query('b-phone-land') {
    &:before {
      transform: rotateZ(15deg);
    }

    &:after {
      transform: rotateZ(-15deg);
      opacity: .9;
    }
  }
}

.subhero {
  &__content {
    max-width: 700px;
  }
}
