/*
---
name: 1and1
category: Components/Variables
tag: variables
---
Base colors for [1and1](https://www.1and1.com/).

```scss
$cloud-1and1-colors: (
  'brand': #003d8f,
  'primary': #6e91ba,
  'secondary': #3d70b7,
  'accent': #003d8f,
  'action': #f2cc11
);
```
*/
$cloud-1and1-colors: (
  'brand': #003d8f,
  'primary': #6e91ba,
  'secondary': #3d70b7,
  'accent': #003d8f,
  'action': #f2cc11
);
