/*
---
name: Azure
category: Components/Variables
tag: variables
---
Base colors for [Microsoft Azure](https://azure.microsoft.com/).

```scss
$cloud-azure-colors: (
  'brand': #6ebaec,
  'primary': #0072c6,
  'secondary': #1b348e,
  'accent': #1b348e,
  'action': #89c402
);
```
*/
$cloud-azure-colors: (
  'brand': #6ebaec,
  'primary': #0072c6,
  'secondary': #1b348e,
  'accent': #1b348e,
  'action': #89c402
);
