/*
---
name: CenturyLink
category: Components/Variables
tag: variables
---
Base colors for [Century Link](https://www.ctl.io/).

```scss
$cloud-centurylink-colors: (
  'brand': #00853f,
  'primary': #34b233,
  'secondary': #007f3e,
  'accent': #00853f
);
```
*/
$cloud-centurylink-colors: (
  'brand': #00853f,
  'primary': #34b233,
  'secondary': #007f3e,
  'accent': #34b233
);
