/*
---
name: Open Telekom cloud
category: Components/Variables
tag: variables
---
Base colors for [Open Telekom cloud](https://cloud.telekom.de/en/infrastructure/open-telekom-cloud/).

```scss
$cloud-otc-colors: (
  'brand': #e20074,
  'primary': #d0006b,
  'secondary': #aa0057,
  'accent': #007faf,
  'action': #e20074
);
```
*/
$cloud-otc-colors: (
  'brand': #e20074,
  'primary': #d0006b,
  'secondary': #aa0057,
  'dark': #2c2d2d,
  'accent': #007faf,
  'action': #e20074
);
