/*
---
name: Banner
category: Components/Clouds
tag: component
---
Modify the color of the banner to match the Brand color of the given cloud. You can get more
information about this component in the
[Banner](/category/Components/Display/#Banner) documentation.

```html
<div class="banner palette-1and1">
  <div class="container container-small text-c">
    <h1 class="margin-t-reset">1and1 Cloud</h1>
    <h5 class="subtitle">Free open-source apps and developer stacks</h5>
    <p class="margin-t-big">
      The Bitnami Launchpad for CenturyLink Cloud gives you fully configured applications and development stacks ready to run on your CenturyLink Cloud account in minutes.
    </p>
    <a class="button">Visit CenturyLink site</a>
  </div>
</div>

<div class="banner palette-aws">
  <div class="container container-small text-c">
    <h1 class="margin-t-reset">Amazon Web Services Cloud</h1>
    <h5 class="subtitle">Free open-source apps and developer stacks</h5>
    <p class="margin-t-big">
      The Bitnami Launchpad for CenturyLink Cloud gives you fully configured applications and development stacks ready to run on your CenturyLink Cloud account in minutes.
    </p>
    <a class="button">Visit CenturyLink site</a>
  </div>
</div>

<div class="banner palette-azure">
  <div class="container container-small text-c">
    <h1 class="margin-t-reset">Azure Cloud</h1>
    <h5 class="subtitle">Free open-source apps and developer stacks</h5>
    <p class="margin-t-big">
      The Bitnami Launchpad for CenturyLink Cloud gives you fully configured applications and development stacks ready to run on your CenturyLink Cloud account in minutes.
    </p>
    <a class="button">Visit CenturyLink site</a>
  </div>
</div>

<div class="banner palette-centurylink">
  <div class="container container-small text-c">
    <h1 class="margin-t-reset">CenturyLink Cloud</h1>
    <h5 class="subtitle">Free open-source apps and developer stacks</h5>
    <p class="margin-t-big">
      The Bitnami Launchpad for CenturyLink Cloud gives you fully configured applications and development stacks ready to run on your CenturyLink Cloud account in minutes.
    </p>
    <a class="button">Visit CenturyLink site</a>
  </div>
</div>

<div class="banner palette-godaddy">
  <div class="container container-small text-c">
    <h1 class="margin-t-reset">Godaddy Cloud</h1>
    <h5 class="subtitle">Free open-source apps and developer stacks</h5>
    <p class="margin-t-big">
      The Bitnami Launchpad for CenturyLink Cloud gives you fully configured applications and development stacks ready to run on your CenturyLink Cloud account in minutes.
    </p>
    <a class="button">Visit CenturyLink site</a>
  </div>
</div>

<div class="banner palette-google">
  <div class="container container-small text-c">
    <h1 class="margin-t-reset">Google Cloud</h1>
    <h5 class="subtitle">Free open-source apps and developer stacks</h5>
    <p class="margin-t-big">
      The Bitnami Launchpad for CenturyLink Cloud gives you fully configured applications and development stacks ready to run on your CenturyLink Cloud account in minutes.
    </p>
    <a class="button">Visit CenturyLink site</a>
  </div>
</div>

<div class="banner palette-huawei">
  <div class="container container-small text-c">
    <h1 class="margin-t-reset">Huawei Cloud</h1>
    <h5 class="subtitle">Free open-source apps and developer stacks</h5>
    <p class="margin-t-big">
      The Bitnami Launchpad for CenturyLink Cloud gives you fully configured applications and development stacks ready to run on your CenturyLink Cloud account in minutes.
    </p>
    <a class="button">Visit CenturyLink site</a>
  </div>
</div>

<div class="banner palette-oracle">
  <div class="container container-small text-c">
    <h1 class="margin-t-reset">Oracle Cloud</h1>
    <h5 class="subtitle">Free open-source apps and developer stacks</h5>
    <p class="margin-t-big">
      The Bitnami Launchpad for CenturyLink Cloud gives you fully configured applications and development stacks ready to run on your CenturyLink Cloud account in minutes.
    </p>
    <a class="button">Visit CenturyLink site</a>
  </div>
</div>

<div class="banner palette-otc">
  <div class="container container-small text-c">
    <h1 class="margin-t-reset">Open Telekom Cloud</h1>
    <h5 class="subtitle">Free open-source apps and developer stacks</h5>
    <p class="margin-t-big">
      The Bitnami Launchpad for CenturyLink Cloud gives you fully configured applications and development stacks ready to run on your CenturyLink Cloud account in minutes.
    </p>
    <a class="button">Visit CenturyLink site</a>
  </div>
</div>
```
*/
// Personalize for every cloud
@each $cloud in map-keys($clouds) {
  .palette-#{$cloud} .banner,
  .banner.palette-#{$cloud} {
    border-top: 10px solid cloud-color-level($cloud, 'brand', 200);

    h1,
    h2,
    h3,
    h4 {
      color: cloud-color($cloud, 'brand');

      &.subtitle {
        color: cloud-color-level($cloud, 'brand', 100);
      }
    }
  }
}
