/*
---
name: Buttons
category: Components/Clouds
tag: component
---
Modify the color of the button to match the Brand color of the given cloud. You can combine them
with size modification classes. You can get more information about this element in the
[Buttons](/category/Foundations/Forms/#Buttons) documentation.

```html
<p class="text-c">
  <button class="button palette-1and1 button-small">Testing buttons</button>
  <button class="button palette-aws button-small">Testing buttons</button>
  <button class="button palette-azure button-small">Testing buttons</button>
</p>
<p class="text-c">
  <button class="button palette-centurylink">Testing buttons</button>
  <button class="button palette-godaddy">Testing buttons</button>
  <button class="button palette-google">Testing buttons</button>
</p>
<p class="text-c">
  <button class="button palette-huawei button-big">Testing buttons</button>
  <button class="button palette-oracle button-big">Testing buttons</button>
  <button class="button palette-otc button-big">Testing buttons</button>
</p>
```
*/
// Personalize for every cloud
@each $cloud in map-keys($clouds) {
  @include button-cloud-skin($cloud);
}
