/*
---
name: Launcher
category: Components/Clouds
tag: component
---
Modify the base hexagon image for a cloud vendor. If the image doesn't exist, it will use the
default hexagon. You can get more information about this component in the
[Launcher](/category/Components/Stacks/#Launcher) documentation.

```html
<div class="launcher palette-oracle">
  <div class="launcher__stack stack-moodle">
    <a class="launcher__stack__icon" href="https://aws.bitnami.com/launch/moodle">Moodle</a>
    <div class="launcher__stack__tooltip">
      <div class="launcher__stack__tooltip__content">
        <h6 class="margin-t-small">Moodle v3.2.1</h6>
        <a href="https://aws.bitnami.com/launch/moodle" class="button button-small">Launch now</a>
        <p class="margin-v-small">or <a href="/stack/moodle">Download</a></p>
      </div>
    </div>
  </div>
  <div class="launcher__stack stack-moodle">
    <a class="launcher__stack__icon" href="https://aws.bitnami.com/launch/moodle">Moodle</a>
    <div class="launcher__stack__tooltip">
      <div class="launcher__stack__tooltip__content">
        <h6 class="margin-t-small">Moodle v3.2.1</h6>
        <a href="https://aws.bitnami.com/launch/moodle" class="button button-small">Launch now</a>
        <p class="margin-v-small">or <a href="/stack/moodle">Download</a></p>
      </div>
    </div>
  </div>
  <div class="launcher__stack stack-moodle">
    <a class="launcher__stack__icon" href="https://aws.bitnami.com/launch/moodle">Moodle</a>
    <div class="launcher__stack__tooltip">
      <div class="launcher__stack__tooltip__content">
        <h6 class="margin-t-small">Moodle v3.2.1</h6>
        <a href="https://aws.bitnami.com/launch/moodle" class="button button-small">Launch now</a>
        <p class="margin-v-small">or <a href="/stack/moodle">Download</a></p>
      </div>
    </div>
  </div>
  <div class="launcher__stack stack-more">
    <a class="launcher__stack__icon" href="https://aws.bitnami.com/"></a>
  </div>
</div>
```
*/
// Personalize for every cloud
@each $cloud in map-keys($clouds) {
  @if map-has-key($stacks-launcher-hexagon-images, $cloud) {
    .palette-#{$cloud} .launcher,
    .launcher.palette-#{$cloud} {
      .launcher__stack {
        background-image: url(map-get($stacks-launcher-hexagon-images, $cloud));
      }
    }
  }
}
