/*
---
name: Separators
category: Components/Clouds
tag: component
---
Modify the color of the separator to match the Brand color of the given cloud. You can combine them
with size modifiers. You can get more information about this element in the
[Separators](category/Foundations/Separators/) documentation.

```html
  <hr class="palette-1and1" />
  <hr class="palette-aws" />
  <hr class="palette-azure" />
  <hr class="palette-centurylink separator-big" />
  <hr class="palette-godaddy separator-big" />
  <hr class="palette-google separator-big" />
  <hr class="palette-huawei separator-enormous" />
  <hr class="palette-oracle separator-enormous" />
  <hr class="palette-otc separator-enormous" />
```
*/
// Personalize for every cloud
@each $cloud in map-keys($clouds) {
  .palette-#{$cloud} hr,
  hr.palette-#{$cloud} {
    color: cloud-color($cloud);
    background-color: cloud-color($cloud);
  }
}
