/*
---
name: cloud-color(cloud, name)
category: Foundations/Helpers/Mixins
tag: function
---
Get a color of a cloud. Available values:

* brand
* primary
* secondary
* accent
* action

```scss
.test {
  color: cloud-color('aws', 'brand');
}
```
*/
@function cloud-color($cloud-name, $name: 'brand') {
  // Check if the cloud exists
  @if map-has-key($clouds, $cloud-name) {
    // Get the cloud colors map
    $cloud-colors: map-get($clouds, $cloud-name);
    // Get the color
    @if map-has-key($cloud-colors, $name) {
      @return map-get($cloud-colors, $name);
    } @else if map-has-key($colors, $name) {
      @return map-get($colors, $name);
    } @else {
      @warn "We didn't find the color called #{$name} for #{$cloud-name}. Please check available colors";
      @return cloud-color($cloud-name);
    }
  } @else {
    // Throw an error. The cloud doesn't exist
    @error "The cloud #{$cloud-name} is not available";
  }
}

/*
---
name: cloud-color-level(cloud, name, level)
category: Foundations/Helpers/Mixins
tag: function
---
Get a tint or shade of a base color. The `level` variable should be a number between 100 to 1000
in steps of one hundred. The base color is located in 500.

```scss
.test {
  color: color-level('bitnami', 200);
  background-color: color('iron', 700);
}
```
*/
@function cloud-color-level($cloud-name, $name: 'bitnami', $level: 500) {
  $color: cloud-color($cloud-name, $name);
  @return calc-color-level($color, $level);
}
