/*
---
name: button-cloud-skin(cloud)
category: Components/Mixins
tag: function
---
Mixin to generate a class for buttons. This class will modify the color of the buttons.

```scss
@include button-cloud-skin('aws');
```
*/
@mixin button-cloud-skin($cloud) {
  .palette-#{$cloud} {
    .button,
    button {
      @include button-skin-values(
        cloud-color-level($cloud, 'brand', 400),
        cloud-color-level($cloud, 'brand', 600),
        lighten(cloud-color-level($cloud, 'brand', 600), 5%),
        cloud-color-level($cloud, 'brand', 700),
        cloud-color-level($cloud, 'brand', 600),
        color('white')
      )
    }
  }

  .button.palette-#{$cloud},
  button.palette-#{$cloud} {
    @include button-skin-values(
      cloud-color-level($cloud, 'brand', 400),
      cloud-color-level($cloud, 'brand', 600),
      lighten(cloud-color-level($cloud, 'brand', 600), 5%),
      cloud-color-level($cloud, 'brand', 700),
      cloud-color-level($cloud, 'brand', 600),
      color('white')
    )
  }
}
