// Define the required variables for the stacks
$stacks-launcher-image: '//d33np9n32j53g7.cloudfront.net/assets/new/launcher-stacks-f3dc9bbc1c39fab944230ce13e71f9d7.png';

// Hexagon bg images
$stacks-launcher-hexagon-images: (
  'default': '//d33np9n32j53g7.cloudfront.net/assets/new/launch-icon-bg-418e0f317870860b107951338c9acb6e.png',
  'google': '//d33np9n32j53g7.cloudfront.net/assets/new/launch-icon-bg-alt-3ee07160d3e4887b620304aeabddba64.png',
  'oracle': '//d33np9n32j53g7.cloudfront.net/assets/new/oracle/launch-icon-bg-oracle-abd461907f252d3567c4766dcf151eab.png',
  'huawei': '//d33np9n32j53g7.cloudfront.net/assets/new/oracle/launch-icon-bg-oracle-abd461907f252d3567c4766dcf151eab.png'
);

// Position of the images based on the stack
$stack-launcher-positions: (
  'wordpress': 0,
  'drupal': 1,
  'redmine': 2,
  'moodle': 3,
  'gitlab': 4,
  'lampstack': 5,
  'meanstack': 6,
  'redis': 7,
  'postgresql': 8
);

// Icons
$stack-launcher-height: 85px;
$stack-launcher-width: 77px;

// Launch box
$stack-launcher-box-width: 140px;
