/*
---
name: AWS
category: Components/Variables
tag: variables
---
Base colors for [Amazon Web Services](https://aws.amazon.com/).

```scss
$cloud-aws-colors: (
  'brand': #eeba37,
  'primary': #eeba37,
  'secondary': #444,
  'accent': #eeba37,
  'action': #eeba37
);
```
*/
$cloud-aws-colors: (
  'brand': #eeba37,
  'primary': #eeba37,
  'secondary': #444,
  'accent': #eeba37,
  'action': #eeba37
);
