/*
---
name: Google
category: Components/Variables
tag: variables
---
Base colors for [Google](https://cloud.google.com/).

```scss
$cloud-google-colors: (
  'brand': #2b85e7,
  'primary': #0273d4,
  'secondary': #0463ba,
  'accent': #0463ba
);
```
*/
$cloud-google-colors: (
  'brand': #2b85e7,
  'primary': #0273d4,
  'secondary': #0463ba,
  'accent': #0463ba
);
