/*
---
name: Huawei
category: Components/Variables
tag: variables
---
Base colors for [Huawei](http://www.huawei.com/en/).

```scss
$cloud-huawei-colors: (
  'brand': #ff0000,
  'primary': #e3281e,
  'secondary': #000,
  'accent': #cc0000,
  'action': #b02d2e
);
```
*/
$cloud-huawei-colors: (
  'brand': #f00,
  'primary': #e3281e,
  'secondary': #000,
  'accent': #c00,
  'action': #b02d2e
);
