/* Main structure */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body > main {
  flex: 1 1 auto;
}

/* Pre code snippets */
pre {
  background-color: #212b2f; /* From .Terminal */
  white-space: pre-wrap;
}

pre > code {
  color: #ebecec;
}

pre code .tag {
  padding: 0;
  background-color: initial;
  border: none;
  color: inherit;
}

.Component__Content > *:not(pre):not(.Component__Preview) {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.Component__Content > table:not(pre):not(.Component__Preview) {
  width: calc(100% - 2 * 1.49962rem);
}

.Component__Content > ul {
  /* Don't do this at home */
  padding-left: 4rem !important;
  margin-bottom: 1.333rem !important;
}

@media (max-width: 1347.988px) {
  .Component__Content > *:not(pre):not(.Component__Preview)  {
    padding: 0 1.49962rem;
  }

  .Component__Content > table:not(pre):not(.Component__Preview) {
    margin-left: 1.49962rem;
    margin-right: 1.49962rem;
  }
}

.Component__Content .Component__Preview + pre {
  margin-top: 0;
}

.Component__Preview {
  box-shadow: inset 0 0 10px rgba(0,0,0, 0.1);
  border-top: 1px solid #ebecec;
  margin-top: 2.24944em;
  padding: 1.333em;
  position: relative;
}

.Components > .Component:last-child,
.Components > .Component:last-child .Component__Content .Component__Preview + pre {
  margin-bottom: 0;
}

[class^="col"] > article {
  text-align: center;
  padding: 1em;
  background-color: #f5f5f5;
}

.Menu .Menu__Items a {
  display: inline-block;
}

/* Color boxes! */
.colorBoxes {
  display: flex;
  flex-wrap: wrap;
}

.colorBoxes .colorBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  width: 33%;
}

.colorBoxes .colorBox-50 {
  width: 50%;
}

.colorBox__title {
  align-self: flex-start;
}

.colorBox__values {
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.colorBox__values__value {
  font-size: 16px;
}

.colorBox__values__value span {
  display: block;
  font-size: 12px;
  opacity: .8;
  text-transform: uppercase;
}

.colorBox-reverse .colorBox__title h5,
.colorBox-reverse .colorBox__values {
  color: white;
}

/* Home page! */
.home__hero {
  margin: 7em auto 3em;
  max-width: 980px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0 20px 40px -37px rgba(0, 0, 0, .8);
}

.home__hero__title {
  font-weight: bold;
  margin: 0;
}

.home__hero__slogan {
  margin-top: 0;
}

.home__hero__graphic svg {
  display: block;
  max-width: 100%;
}

.home__hero__graphic .graphic__rectangle:hover {
  stroke: url(#hover);
}

.home__info {
  max-width: 980px;
}

/* Algolia search */
.algolia-autocomplete {
  width: 100%;
}

.searchForm {
  position: relative;
}

.searchForm svg {
  color: #5F6369;
  top: 50%;
  left: .5em;
  height: 1em;
  position: absolute;
  transform: translateY(-50%);
  width: 1em;
  z-index: 99;
}

/* Design tokens section */
.designTokens table tr th:first-child,
.designTokens table tr td:first-child {
  width: 30px;
}

.designTokens table tr th:nth-child(-n + 2),
.designTokens table tr td:nth-child(-n + 2),
.designTokens table tr td:nth-child(-n + 3) {
  white-space: nowrap;
}
