/*
---
name: Anchors
category: Foundations/Anchors
tag: text
---
Buttons use the `accent` color.

```html
<p>This is a <a>link</a> inside a paragraph. It's important to highlight them in the <a>text</a>.</p>
```
*/
a {
  color: color('link');
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    color: color-level('action', 600);

    &:not(.button) {
      text-decoration: underline;
    }
  }

  // Now, visited links are overriding button colors, so I will disable it until we solve
  // this issue.
  // More information at: http://phabricator.bitnami.com:8080/T18103
  // &:visited {
  //   color: color-level('bitnami', 100);
  // }
}

// Display the underline by default only in anchors inside paragraphs and lists
p a,
ul a,
a.decoration {
  text-decoration: underline;
}

// Doesn't show the link in lists if there isn't any other type
ul a,
ol a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  &:only-of-type {
    text-decoration: none;
  }
}
