/*
---
name: Anchors
category: Foundations/Anchors
tag: text
---
Buttons use the `accent` color.

```html
This is a <a>link</a>
```
*/
a {
  color: color-level('bitnami', 200);
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:active {
    color: color-level('bitnami', 50);
  }

  // Now, visited links are overriding button colors, so I will disable it until we solve
  // this issue.
  // More information at: http://phabricator.bitnami.com:8080/T18103
  // &:visited {
  //   color: color-level('bitnami', 100);
  // }
}
